@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;900&display=swap');
// Pour mobile
body {
    font-family: 'Prompt', sans-serif;
    background-image: url("img/background.png");
    color: #092F4B;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
    h1 {
        font-size: 11vw;
        margin-bottom: -5vw;    
    }
    h2 {
        font-size: 4vw;
        font-style: italic;
    }
    .bienvenue {
        margin: 5vw;
        text-align: center;
        font-size: 4vw;
    }
        .hackers-poulette {
            font-weight: 700;
        }
        .remplir {
            background-color: #9ae1d0;
        }
main {
    line-height: 12vw;
}
    .nom-label {
        font-weight: 500;
        padding-right: 2vw;
    
    }
    .nom-input {
        border: none;
        width: 74vw;
    }
    .prenom-label {
        font-weight: 500;
        padding-right: 2vw;
    }
    .prenom-input {
        border: none;
        width: 67vw;
    }
    .email-label {
        font-weight: 500;
        padding-right: 2vw;
    }
    .email-input {
        border: none;
        width: 51vw;
    }
    .comment-label {
        font-weight: 500;
    }
    .comment-input {
        border: none;
    }
    .msg-erreur {
        color:#fa5c57;
        font-size: 1vw;
        text-align: center;
    }
    .div-btn {
        display: flex;
        justify-content: center;
        margin: 8vw;
    }
    .btn-go {
        font-family: 'Prompt', sans-serif;
        font-size: 6vw;
        color: #092F4B;
        background-color:#fdc7c5;
        text-align: center;
        width: 22vw;
        height: 12vw;
        border: none; 
        border-radius:8%;
    }
footer {
    text-align: center;
    font-size: 3vw;
}

//---------- Page checkout
body {
    font-family: 'Prompt', sans-serif;
    background-image: url("img/background.png");
    color: #092F4B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    p {
        text-align: center;
    }
    .btn-retour {
        font-family: 'Prompt', sans-serif;
        font-size: 6vw;
        color: #092F4B;
        background-color:#9ae1d0;
        text-align: center;
        border: none; 
        border-radius:8%;
    }

//---------- Page error
body {
    font-family: 'Prompt', sans-serif;
    background-image: url("img/background.png");
    color: #092F4B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    p {
        text-align: center;
    }
    .btn-retour {
        font-family: 'Prompt', sans-serif;
        font-size: 6vw;
        color: #092F4B;
        background-color:#9ae1d0;
        text-align: center;
        border: none; 
        border-radius:8%;
    }

//---MEDIA QUERIES---//

// Pour tablette ----------
@media screen and (min-width: 768px) {
        h1 {
            font-size: 5vw;
        }
        h2 {
            font-size: 3vw;
            font-style: italic;
            margin-top: 4vw;
        }
        .bienvenue {
            margin: 3vw 5vw 1vw 5vw;
            font-size: 2vw;
            text-align: center;
        }
            .hackers-poulette {
                font-weight: 700;
            }
            .remplir {
                background-color: #9ae1d0;
            }
    main {
        line-height: 5vw;
        margin: 0vw 25vw 0vw 25vw;
        padding: 3vw 3vw 1vw 3vw;       
    }
        .nom-label {
            font-weight: 500;
            font-size: 2vw;
            padding-right: 2vw;
        }
        .nom-input {
            width: 32vw;
            height: 3vw;
            border: none;
        }
        .prenom-label {
            font-weight: 500;
            font-size: 2vw;
            padding-right: 2vw;
        }
        .prenom-input {
            width: 29vw;
            height: 3vw;
            border: none;
        }
        .email-label {
            font-weight: 500;
            font-size: 2vw;
            padding-right: 1vw;
        }
        .email-input {
            width: 41vw;
            height: 3vw;
            border: none;
        }
        .comment-label {
            font-weight: 500;
            font-size: 2vw;
            padding-right: 1vw;
        }
        .comment-input {
            width: 41vw;
            height: 15vw;
            border: none;
        }
        .msg-erreur {
            color:#fa5c57;
            font-size: 1.5vw;
            text-align: center;
        }
        .div-btn {
            display: flex;
            justify-content: center;
            margin: 2vw;
        }
        .btn-go {
            font-family: 'Prompt', sans-serif;
            font-size: 2vw;
            color: #092F4B;
            background-color:#9ae1d0;
            text-align: center;
            width: 7vw;
            height: 4vw;
            border: none; 
            border-radius:8%;
            cursor: pointer;
        }
        footer {
            text-align: center;
            font-size: 1vw;
        }

///---------- Page checkout
    body {
        font-family: 'Prompt', sans-serif;
        background-image: url("img/background.png");
        color: #092F4B;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
        .btn-retour {
            font-family: 'Prompt', sans-serif;
            font-size: 2vw;
            color: #092F4B;
            background-color:#9ae1d0;
            text-align: center;
            border: none; 
            border-radius:8%;
        }

//---------- Page error
    body {
        font-family: 'Prompt', sans-serif;
        background-image: url("img/background.png");
        color: #092F4B;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
        .btn-retour {
            font-family: 'Prompt', sans-serif;
            font-size: 2vw;
            color: #092F4B;
            background-color:#9ae1d0;
            text-align: center;
            border: none; 
            border-radius:8%;
        }
}

// Pour desktop ----------
@media screen and (min-width: 1024px) {
        h1 {
            font-size: 5vw;
        }
        h2 {
            font-size: 2vw;
            font-style: italic;
            margin-top: 3.7vw;
        }
        .bienvenue {
            margin: 3vw 5vw 3vw 5vw;
            font-size: 1.5vw;
            text-align: center;
        }
            .hackers-poulette {
                font-weight: 700;
            }
            .remplir {
                background-color: #9ae1d0;
            }
    main {
        line-height: 4vw;
        margin: 0vw 29vw 0vw 29vw;
        padding: 3vw 3vw 1vw 3vw;       
    }
    .nom-label {
        font-weight: 500;
        font-size: 1.5vw;
        padding-right: 1vw;
    }
    .nom-input {
        width: 24vw;
        height: 2vw;
        border: none;
    }
    .prenom-label {
        font-weight: 500;
        font-size: 1.5vw;
        padding-right: 1vw;
    }
    .prenom-input {
        width: 21vw;
        height: 2vw;
        border: none;
    }
    .email-label {
        font-weight: 500;
        font-size: 1.5vw;
        padding-right: 1vw;
    }
    .email-input {
        width: 31vw;
        height: 2vw;
        border: none;
    }
    .comment-label {
        font-weight: 500;
        font-size: 1.5vw;
        padding-right: 1vw;
    }
    .comment-input {
        width: 31vw;
        height: 15vw;
        border: none;
    }
    .msg-erreur {
        color:#fa5c57;
        font-size: 1vw;
        text-align: center;
    }
    .div-btn {
        display: flex;
        justify-content: center;
        margin: 1vw;
    }
    .btn-go {
        font-family: 'Prompt', sans-serif;
        font-size: 2vw;
        color: #092F4B;
        background-color:#9ae1d0;
        text-align: center;
        width: 7vw;
        height: 4vw;
        border: none; 
        border-radius:8%;
        cursor: pointer;
    }
    footer {
        text-align: center;
        font-size: 1vw;
    }

//---------- Page checkout
    body {
        font-family: 'Prompt', sans-serif;
        background-image: url("img/background.png");
        color: #092F4B;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
        p {
            font-size: 2vw;
        }
        .btn-retour {
            font-family: 'Prompt', sans-serif;
            color: #092F4B;
            background-color:#9ae1d0;
            text-align: center;
            border: none; 
            border-radius:8%;
        }
        .a-retour {
            font-size: 1.5vw;
        }

//---------- Page error
    body {
        font-family: 'Prompt', sans-serif;
        background-image: url("img/background.png");
        color: #092F4B;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
        .btn-retour {
            font-family: 'Prompt', sans-serif;
            font-size: 2vw;
            color: #092F4B;
            background-color:#9ae1d0;
            text-align: center;
            border: none; 
            border-radius:8%;
        }
}