@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@400;900&display=swap");
body {
  font-family: "Prompt", sans-serif;
  background-image: url("img/background.png");
  color: #092F4B;
}
body .header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .header-container .titre1 {
  font-size: 11vw;
  margin-bottom: -5vw;
}
@media screen and (min-width: 768px) {
  body .header-container .titre1 {
    font-size: 7vw;
  }
}
@media screen and (min-width: 1025px) {
  body .header-container .titre1 {
    font-size: 5vw;
  }
}
body .header-container .titre2 {
  font-size: 4vw;
  font-style: italic;
}
@media screen and (min-width: 768px) {
  body .header-container .titre2 {
    margin-top: 4vw;
  }
}
@media screen and (min-width: 1025px) {
  body .header-container .titre2 {
    font-size: 2vw;
    margin-top: 3.7vw;
  }
}
body .header-container .bienvenue {
  margin: 5vw;
  text-align: center;
  font-size: 4vw;
}
@media screen and (min-width: 768px) {
  body .header-container .bienvenue {
    margin: 3vw 5vw 1vw 5vw;
    font-size: 2.5vw;
  }
}
@media screen and (min-width: 1025px) {
  body .header-container .bienvenue {
    margin: 3vw 5vw 3vw 5vw;
    font-size: 1.5vw;
  }
}
body .header-container .bienvenue .hackers-poulette {
  font-weight: 700;
}
body .header-container .bienvenue .remplir {
  background-color: #9ae1d0;
}
body .main-container {
  line-height: 12vw;
}
@media screen and (min-width: 768px) {
  body .main-container {
    line-height: 5vw;
    margin: 0vw 17vw 0vw 17vw;
    padding: 3vw 3vw 1vw 3vw;
  }
}
@media screen and (min-width: 1025px) {
  body .main-container {
    line-height: 4vw;
    margin: 0vw 29vw 0vw 29vw;
  }
}
body .main-container .nom-label {
  font-weight: 500;
  padding-right: 2vw;
}
@media screen and (min-width: 768px) {
  body .main-container .nom-label {
    font-size: 3vw;
  }
}
@media screen and (min-width: 1025px) {
  body .main-container .nom-label {
    font-size: 1.5vw;
    padding-right: 1vw;
  }
}
body .main-container .nom-input {
  border: none;
  width: 77vw;
}
@media screen and (min-width: 768px) {
  body .main-container .nom-input {
    width: 45vw;
    height: 3vw;
  }
}
@media screen and (min-width: 1025px) {
  body .main-container .nom-input {
    width: 24vw;
    height: 2vw;
  }
}
body .main-container .prenom-label {
  font-weight: 500;
  padding-right: 2vw;
}
@media screen and (min-width: 768px) {
  body .main-container .prenom-label {
    font-size: 3vw;
  }
}
@media screen and (min-width: 1025px) {
  body .main-container .prenom-label {
    font-size: 1.5vw;
    padding-right: 1vw;
  }
}
body .main-container .prenom-input {
  border: none;
  width: 70vw;
}
@media screen and (min-width: 768px) {
  body .main-container .prenom-input {
    width: 40.5vw;
    height: 3vw;
  }
}
@media screen and (min-width: 1025px) {
  body .main-container .prenom-input {
    width: 21vw;
    height: 2vw;
  }
}
body .main-container .email-label {
  font-weight: 500;
  padding-right: 2vw;
}
@media screen and (min-width: 768px) {
  body .main-container .email-label {
    font-size: 3vw;
    padding-right: 1vw;
  }
}
@media screen and (min-width: 1025px) {
  body .main-container .email-label {
    font-size: 1.5vw;
  }
}
body .main-container .email-input {
  border: none;
  width: 55vw;
}
@media screen and (min-width: 768px) {
  body .main-container .email-input {
    width: 32vw;
    height: 3vw;
  }
}
@media screen and (min-width: 1025px) {
  body .main-container .email-input {
    width: 31vw;
    height: 2vw;
  }
}
body .main-container .comment-label {
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  body .main-container .comment-label {
    font-size: 3vw;
    padding-right: 1vw;
  }
}
@media screen and (min-width: 1025px) {
  body .main-container .comment-label {
    font-size: 1.5vw;
  }
}
body .main-container .comment-input {
  border: none;
  width: 95vw;
}
@media screen and (min-width: 768px) {
  body .main-container .comment-input {
    width: 56.5vw;
    height: 15vw;
  }
}
@media screen and (min-width: 1025px) {
  body .main-container .comment-input {
    width: 31vw;
  }
}
body .main-container .msg-erreur {
  color: #fa5c57;
  font-size: 1vw;
  text-align: center;
}
@media screen and (min-width: 768px) {
  body .main-container .msg-erreur {
    font-size: 1.5vw;
  }
}
@media screen and (min-width: 1025px) {
  body .main-container .msg-erreur {
    font-size: 1vw;
  }
}
body .main-container .div-btn {
  display: flex;
  justify-content: center;
  margin: 8vw;
}
@media screen and (min-width: 768px) {
  body .main-container .div-btn {
    margin: 2vw;
  }
}
@media screen and (min-width: 1025px) {
  body .main-container .div-btn {
    margin: 1vw;
  }
}
body .main-container .btn-go {
  font-family: "Prompt", sans-serif;
  font-size: 6vw;
  color: #092F4B;
  background-color: #fdc7c5;
  text-align: center;
  width: 22vw;
  height: 12vw;
  border: none;
  border-radius: 8%;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  body .main-container .btn-go {
    font-size: 2.5vw;
    background-color: #9ae1d0;
    width: 7vw;
    height: 4vw;
  }
}
@media screen and (min-width: 1025px) {
  body .main-container .btn-go {
    font-size: 2vw;
  }
}
body .footer-container {
  text-align: center;
  font-size: 3vw;
}
@media screen and (min-width: 768px) {
  body .footer-container {
    font-size: 1vw;
  }
}/*# sourceMappingURL=style.css.map */