@import 'mixin';
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;900&display=swap');

body {
    font-family: 'Prompt', sans-serif;
    background-image: url("img/background.png");
    color: #092F4B;
    
    .header-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        & .titre1 {
            font-size: 11vw;
            margin-bottom: -5vw;
            
            @include tablet {
                font-size: 7vw;
            }
            
            @include desktop {
                font-size: 5vw;
            }
        }
        
        & .titre2 {
            font-size: 4vw;
            font-style: italic;
            
            @include tablet {
                margin-top: 4vw;
            }
            
            @include desktop {
                font-size: 2vw;
                margin-top: 3.7vw;
            }
        }
        
        & .bienvenue {
            margin: 5vw;
            text-align: center;
            font-size: 4vw;
            
            @include tablet {
                margin: 3vw 5vw 1vw 5vw;
                font-size: 2.5vw;
            }
            
            @include desktop {
                margin: 3vw 5vw 3vw 5vw;
                font-size: 1.5vw;
            }
            
            & .hackers-poulette {
                font-weight: 700;
            }
            
            & .remplir {
                background-color: #9ae1d0;
            }
        }
    }
    
    .main-container {
        line-height: 12vw;
        
        @include tablet {
            line-height: 5vw;
            margin: 0vw 17vw 0vw 17vw;
            padding: 3vw 3vw 1vw 3vw;
        }
        
        @include desktop {
            line-height: 4vw;
            margin: 0vw 29vw 0vw 29vw;
        }
        
        & .nom-label {
            font-weight: 500;
            padding-right: 2vw;
            
            @include tablet {
                font-size: 3vw;
            }
            
            @include desktop {
                font-size: 1.5vw;
                padding-right: 1vw;
            }
        }
        
        & .nom-input {
            border: none;
            width: 77vw;
            
            @include tablet {
                width: 45vw;
                height: 3vw;
            }
            @include desktop {
                width: 24vw;
                height: 2vw;
            }
        }
        & .prenom-label {
            font-weight: 500;
            padding-right: 2vw;

            @include tablet {
                font-size: 3vw;
            }
            @include desktop {
                font-size: 1.5vw;
                padding-right: 1vw;
            }
        }
        & .prenom-input {
            border: none;
            width: 70vw;
            @include tablet {
                width: 40.5vw;
                height: 3vw;
            }
            @include desktop {
                width: 21vw;
                height: 2vw;
            }
        }
        & .email-label {
            font-weight: 500;
            padding-right: 2vw;

            @include tablet {
                font-size: 3vw;
                padding-right: 1vw;
            }
            @include desktop {
                font-size: 1.5vw;
            }
        }
        & .email-input {
            border: none;
            width: 55vw;
            @include tablet {
                width: 32vw;
                height: 3vw;
            }
            @include desktop {
                width: 31vw;
                height: 2vw;
            }
        }
        & .comment-label {
            font-weight: 500;

            @include tablet {
                font-size: 3vw;
                padding-right: 1vw;
            }
            @include desktop {
                font-size: 1.5vw;
            }
        }
        & .comment-input {
            border: none;
            width: 95vw;

            @include tablet {
                width: 56.5vw;
                height: 15vw;
            }
            @include desktop {
                width: 31vw;
            }
        }
        & .msg-erreur {
            color:#fa5c57;
            font-size: 1vw;
            text-align: center;
            @include tablet {
                font-size: 1.5vw;
            }
            @include desktop {
                font-size: 1vw;
            }
        }
        & .div-btn {
            display: flex;
            justify-content: center;
            margin: 8vw;
            @include tablet {
                margin: 2vw;
            }
            @include desktop {
                margin: 1vw;
            }
        }
        & .btn-go {
            font-family: 'Prompt', sans-serif;
            font-size: 6vw;
            color: #092F4B;
            background-color:#fdc7c5;
            text-align: center;
            width: 22vw;
            height: 12vw;
            border: none; 
            border-radius:8%;
            cursor: pointer;
            @include tablet {
                font-size: 2.5vw;
                background-color:#9ae1d0;
                width: 7vw;
                height: 4vw;
            }
            @include desktop {
                font-size: 2vw;
                }
        }
    }   

    .footer-container {
        text-align: center;
        font-size: 3vw;

        @include tablet {
            font-size: 1vw;
        }
    }
}